<footer>

    <div class="container">
        <!-- <div class="subcribe-div">
         <div class="row row-cols-1 row-cols-lg-2 align-items-center"  data-aos="fade-down">
             <div class="col">
                 <h2 class="mb-4 m-lg-0"> ثبت نام در خبرنامه ما </h2>
             </div>
             <div class="col">
                <div class="form-group d-lg-flex align-items-center">
                    <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید"/>
                    <input type="Submit" class="btn subcribe-bn mt-4 mt-lg-0" value="ثبت نام"/>
                </div>
             </div>
         </div>
      </div> -->
        <div class="row row-cols-1 row-cols-md-4 footer-bottom-div" style="padding-top: 40px;">
            <div class="col">
                <div class="comon-footer">
                    <!-- <img src="images/logo-sc.png" alt="logo"> -->
                    <p class="text-white"> شرکت نرم افزاری وینو فعال در عرصه خدماتی همچون طراحی وبسایت، سئو و بهینه سازی، طراحی اپلیکیشن های موبایلی و نرم افزار های تحت وب و ارائه دیگر خدمات در حوزه نرم افزار در تلاش است تا تمام نیازهای کاربران در زمینه آنلاین سازی کسب و کار
                        به بهترین شکل ممکن و بهره‌گیری از جدیدترین استانداردها و اصول روز در حداقل زمان و با کمترین هزینه پوشش دهد.</p>
                    <ul class="list-unstyled socal">
                        <li>
                            <a href="#"> <i class="bi bi-facebook"></i> </a>
                            <a href="#"> <i class="bi bi-twitter"></i> </a>
                            <a href="#"> <i class="bi bi-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="comon-footer d-grid justify-content-md-center">
                    <h5> لینک های مفید </h5>
                    <ul>
                        <li> <a href="/about"> درباره ما </a> </li>
                        <li> <a href="/projects">نمونه کارها  </a> </li>
                        <li> <a href="/blog">بلاگ  </a> </li>
                        <li> <a href="/services"> خدمات </a> </li>
                    </ul>
                </div>
            </div>

            <div class="col">
                <div class="comon-footer d-grid justify-content-md-center">
                    <h5> پشتیبانی </h5>
                    <ul>
                        <li> <a href="/contact"> تماس با ما </a> </li>
                        <li> <a href="/services"> شرایط و قوانین استفاده </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="comon-footer d-grid justify-content-md-end">
                    <h5> اطلاعات شرکت </h5>
                    <ul class="list-unstyled cont-para">
                        <li> <i class="fas fa-phone-alt"></i>989037834381+</li>
                        <li> <i class="fas fa-envelope"></i> vinodevs.official@gmail.com </li>
                        <li> <i class="fas fa-map-marker-alt"></i> ایران - خراسان رضوی - مشهد</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <hr class="bg-white" />
    <div class="container">
        <div class="d-lg-flex justify-content-between" style="padding-bottom: 10px;">
            <div class="text-center d-table m-auto text-white"> 1400 - 1401 © وینو تیم . کلیه حقوق برای وینو تیم محفوظ میباشد. </div>

        </div>
    </div>
</footer>