<header>
    <div class="mn-head">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" class="ds-logo" alt="pic" />
                    <img src="/images/logo-sc.png" class="sc-logo" alt="pic" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasmenu" aria-controls="offcanvasExample">
                   <span class="navbar-toggler-icon"></span>
                 </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mt-4 mt-lg-0 mb-lg-0 align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">درباره ما</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/projects">نمونه کار ها</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">خدمات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">بلاگ</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/contact">تماس با ما</a>
                        </li>

                        <li class="nav-item">
                            <% if(!session){%>
                                <a href="/account/register" class="signiup">
                           ورود / ثبت نام
                        </a>
                                <% }else{ %>
                                    <a href="/account/profile" class="signedup">
                            پروفایل
                         </a>
                                    <% } %>
                        </li>
                        <!-- <li class="nav-item">
                        <a href="/account/login" class="signedup">
                           <i class="fa fa-user"></i>
                        </a>
                      </li> -->
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</header>