
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">خوش آمدید!</h1>
              <p class="text-lead text-white">از این فرم‌های جذاب برای ورود یا ثبت نام کاربر جدید در پروژه خود استفاده کنید.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>ورود با</small></div>
              <div class="btn-wrapper text-center">
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--text">Github</span>
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--text">Google</span>
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>یا با اطلاعات کاربری خود وارد شوید</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="نام کاربری یا ایمیل" type="email">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="کلمه عبور" type="password">
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">مرا به خاطر بسپار</span>
                  </label>
                </div>
                <div class="text-center">
                  <button type="button" class="btn btn-primary my-4">وارد شوید</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light"><small>کلمه عبور را فراموش کردید؟</small></a>
            </div>
            <div class="col-6 text-left">
              <a href="#" class="text-light"><small>ساخت حساب کاربری</small></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-right text-muted">
            &copy; 1400 <a href="https://stanesti.ir" class="font-weight-bold ml-1" target="_blank">Stanesti</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://stanesti.ir" class="nav-link" target="_blank">Stanesti</a>
            </li>
            <li class="nav-item">
              <a href="https://stanesti.ir/about-me" class="nav-link" target="_blank">درباره ما</a>
            </li>
            <li class="nav-item">
              <a href="https://stanesti.ir/blog" class="nav-link" target="_blank">وبلاگ</a>
            </li>
            <li class="nav-item">
              <a href="https://www.rtl-theme.com/author/stanesti" class="nav-link" target="_blank">محصولات دیگر</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>