<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" action="/account/login">
            <%- include('./includes/messages/validationMessages.ejs')  %> 
            <!-- Email input -->
            <div class="form-outline mb-4">
            <label class="form-label" for="email">آدرس ایمیل</label>
              <input type="email" id="email" class="form-control form-control-lg"
                placeholder="ایمیل معتبر وارد نمایید" autocomplete="true" autofocus name="email"/>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
            <label class="form-label" for="password">کلمه عبور</label>
              <input type="password" id="password" class="form-control form-control-lg"
                placeholder="کلمه عبور را وارد نمایید" autocomplete="true" name="password"/>
            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="showPass" />
                <label class="form-check-label" for="showPass">
                  نمایش کلمه عبور
                </label>
              </div>
              <a href="/account/forgot" class="text-body">رمز خود را فراموش کرده ام</a>
            </div>
  
            <div class="text-center text-lg-end mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" >ورود</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">حساب کاربری ندارید ؟ <a href="/account/register"
                  class="link-danger">ثبت نام</a></p>
                  <a href="/" class="small fw-bold mt-2 pt-1 mb-0">بازگشت به خانه<a>
            </div>
            
          </form>
        </div>
      </div>
    </div>

    </div>
  </section>
  <script src="/js/showPass.js"></script>