:root {
    --primary: #bd189b;
    --secondary: #3b0597;
}

body {
    padding: 0;
}

body>.c-container {
    /* background-color: wheat; */
    height: 100vh;
    display: flex;
}

.menu-btn {
    width: 40px;
    display: none;
    align-items: center;
    justify-items: center;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
    background-color: var(--secondary);
    font-size: 2em;
    position: fixed;
    border-radius: 0px 0 0 5px;
    top: 0;
    right: 0;
    z-index: 11;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 1232px) {
    .menu-btn {
        display: flex;
    }
}

.menu {
    width: 100%;
    max-width: 400px;
    height: 100%;
    background: rgb(189, 24, 155);
    background: linear-gradient( 150deg, rgba(189, 24, 155, 1) 0%, rgba(59, 5, 151, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 10px;
    z-index: 10;
    transition: right 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 1232px) {
    .menu {
        position: fixed;
        right: -100%;
        top: 0;
    }
}

.menu>.profile-image {
    width: 150px;
    min-height: 150px;
    max-height: 200px;
    background-color: white;
    overflow: hidden;
    border-radius: 100px;
    border: 2px solid white;
    margin-top: 100px;
}

.menu>.profile-image>img {
    height: 100%;
}

.menu>.username {
    display: flex;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
}

.menu>.username>img {
    width: 0;
    transition: 0.2s width;
}

.menu>.username>img {
    margin-right: 5px;
}

.menu>.username>img:hover {
    cursor: pointer;
}

.menu>.bottom {
    padding: 10px;
}

.menu>.bottom>.tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu>.bottom>.tabs>.tab {
    width: 100%;
    height: 55px;
    display: flex;
    position: relative;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.menu>.bottom>.tabs>.tab:hover {
    cursor: pointer;
}

.menu>.bottom>.tabs>.tab:hover>.title {
    color: white;
}

.menu>.bottom>.tabs>.tab:hover::after {
    width: calc(100% - 40px);
}

.menu>.bottom>.tabs>.tab::after {
    content: "";
    width: 0px;
    height: 75px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    transform: rotate(20deg);
    border-radius: 20px;
    background-color: var(--secondary);
    z-index: 10px;
    transition: width 0.4s;
}

.menu>.bottom>.tabs>.tab[data-focus="true"]::after {
    width: calc(100% - 40px);
}

.menu>.bottom>.tabs>.tab[data-focus="true"]>.title {
    color: white;
}

.menu>.bottom>.tabs>.tab>img {
    width: 50px;
    height: 100%;
    padding: 10px;
    margin-right: auto;
    /* background-color: red; */
}

.menu>.bottom>.tabs>.tab>.title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 14px;
    z-index: 20;
    /* background-color: rebeccapurple; */
    font-family: Shabnam;
    transition: color 0.4s;
}

.content {
    width: 100%;
    display: flex;
    padding: 50px 100px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

@media screen and (max-width: 780px) {
    .content {
        padding: 50px 20px;
    }
}

.content>.into {
    width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, var(--primary), var(--secondary)) border-box;
    border-radius: 20px;
    border: 3px solid transparent;
    overflow-x: hidden;
    /* border: ; */
}

.content>.into>.page {
    padding: 30px;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -150%;
    transition: left 0.4s;
}

.content>.into>.setting {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    padding: 50px 80px;
}

.content>.into>.setting>form {
    width: 100%;
    max-width: 530px;
}

@media screen and (max-width: 510px) {
    .content>.into>.setting {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 410px) {
    .content>.into>.setting {
        padding: 40px 18px;
    }
}

.content>.into>.focus {
    left: 0%;
}


/* !basket */

.content>.into>.basket {}

.content>.into>.basket>.into {
    width: 100%;
}

.content>.into>.basket>.into>.item {
    height: 120px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    box-shadow: 0 0 10px #b7a2db;
    border-radius: 10px;
    overflow: hidden;
    color: var(--secondary);
    /* border: 1px solid var(--secondary); */
    transition: transform 0.2s;
}

.content>.into>.basket>.into>.item:hover {
    transform: scale(1.005);
    cursor: pointer;
}

.content>.into>.basket>.into>.item:not(:first-child) {
    margin-top: 30px;
}

.content>.into>.basket>.into>.item>.image {
    min-width: 100px;
    height: 100%;
    /* margin-left: auto; */
}

.content>.into>.basket>.into>.item>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content>.into>.basket>.into>.item>.left {
    display: flex;
    height: 100%;
    width: calc(100% - 100px);
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 10px;
}

.content>.into>.basket>.into>.item>.left>.title {
    max-width: 98%;
    /* height: max-content; */
    margin-left: 10px;
    font-size: 1.8em;
    direction: rtl;
    /* background-color: red; */
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    margin-top: 5px;
}

@media screen and (max-width: 530px) {
    .content>.into>.basket>.into>.item>.left>.title {
        font-size: 1.2em;
    }
    .content>.into>.basket>.into>.item>.left>.description {
        width: calc(100% - 20px) !important;
        margin-top: 5px;
    }
}

.content>.into>.basket>.into>.item>.left>.description {
    width: calc(100% - 100px);
    overflow: hidden;
    direction: rtl;
    text-align: right;
    margin-left: auto;
    font-size: 1em;
    direction: rtl;
    /* background-color: red; */
    padding-left: 10px;
    opacity: 0.5;
    transition: opacity 0.8s;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap;
}

.content>.into>.basket>.into>.item:hover>.left>.description {
    opacity: 1;
}

.content>.into>.basket>.into>.item>.paid {
    /* width: 130px; */
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 2px 3px;
    border: 1px solid green;
    background-color: green;
    border-radius: 20px;
}

@media screen and (max-width: 530px) {
    .content>.into>.basket>.into>.item>.unpaid,
    .content>.into>.basket>.into>.item>.paid {
        transform: scale(0.8) translateX(-15px);
    }
}

.content>.into>.basket>.into>.item>.unpaid {
    /* width: 130px; */
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 2px 3px;
    border: 1px solid rgb(193, 180, 0);
    background-color: rgb(193, 180, 0);
    border-radius: 20px;
}

.content>.into>.basket>.into>.item>.canceled {
    /* width: 130px; */
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 10px;
    bottom: 10px;
    color: white;
    font-size: 10px;
    font-weight: 800;
    padding: 2px 3px;
    border: 1px solid rgb(193, 0, 0);
    background-color: rgb(188, 5, 5);
    border-radius: 20px;
}

.content>.into>.basket>.into>.item[data-paid="1"]>.paid {
    display: flex;
}

.content>.into>.basket>.into>.item[data-paid="0"]>.unpaid {
    display: flex;
}

.content>.into>.basket>.into>.item[data-paid="2"]>.canceled {
    display: flex;
}

.content>.into>.logout>.into>.title {
    font-size: 2em;
    font-weight: 800;
    color: var(--secondary);
}

.content>.into>.logout>.into>.btns {
    width: 100%;
}

.content>.into>.logout>.into>.btns>.btn {
    width: 50% !important;
    margin: 10px !important;
}