
<div class="col-xl-12">
    <form class="navbar-search navbar-search-light form-inline ml-sm-3 mb-3" id="navbar-search-main">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" placeholder="جستجو..." type="text">
          </div>
        </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>

  <div class="card">
    <div class="card-body">
      <ul class="list-unstyled activity-wid mb-0">
        <li class="activity-list activity-border">
            <div class="activity-icon avatar-sm">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="avatar-sm rounded-circle"
                alt=""
              />
            </div>
            <div class="media">
              <div class="me-3">
                <h4 class="font-size-15 mb-1">علی محمدی| <small>هیچی نمیخوام</small></h4>
                <p class="text-muted font-size-14 mb-0">
                  تجربه در ساخت سرویس ها، وب سایت یا اپلیکیشن های کراس-پلتفرم
                  مبتنی بر نیازهای مشتریان برای ارائه تجربه عالیه به کاربران ....
                </p>
              </div>
  
              <div class="media-body align-content-end">
                <div class="text-left d-none d-md-block">
                  <p class="text-muted font-size-13 mt-2 pt-2 mb-3">
                    <span
                      class="avatar-title bg-soft-primary text-primary rounded-circle"
                    >
                      <i
                        class="fa fa-bars ml-3 font-size-16"
                        style="cursor: pointer"
                        title="نمایش"
                      ></i>
                    </span>
                    3 روز پیش
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="activity-list activity-border">
            <div class="activity-icon avatar-sm">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="avatar-sm rounded-circle"
                alt=""
              />
            </div>
            <div class="media">
              <div class="me-3">
                <h4 class="font-size-15 mb-1">علی محمدی| <small>ساخت اپلیکیشن</small></h4>
                <p class="text-muted font-size-14 mb-0">
                  تجربه در ساخت سرویس ها، وب سایت یا اپلیکیشن های کراس-پلتفرم
                  مبتنی بر نیازهای مشتریان برای ارائه تجربه عالیه به کاربران ....
                </p>
              </div>
  
              <div class="media-body align-content-end">
                <div class="text-left d-none d-md-block">
                  <p class="text-muted font-size-13 mt-2 pt-2 mb-3">
                    <span
                      class="avatar-title bg-soft-primary text-primary rounded-circle"
                    >
                      <i
                        class="fa fa-bars ml-3 font-size-16"
                        style="cursor: pointer"
                        title="نمایش"
                      ></i>
                    </span>
                    3 روز پیش
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="activity-list activity-border">
            <div class="activity-icon avatar-sm">
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="avatar-sm rounded-circle"
                alt=""
              />
            </div>
            <div class="media">
              <div class="me-3">
                <h4 class="font-size-15 mb-1">علی محمدی| <small>طراحی سایت</small></h4>
                <p class="text-muted font-size-14 mb-0">
                  تجربه در ساخت سرویس ها، وب سایت یا اپلیکیشن های کراس-پلتفرم
                  مبتنی بر نیازهای مشتریان برای ارائه تجربه عالیه به کاربران ....
                </p>
              </div>
  
              <div class="media-body align-content-end">
                <div class="text-left d-none d-md-block">
                  <p class="text-muted font-size-13 mt-2 pt-2 mb-3">
                    <span
                      class="avatar-title bg-soft-primary text-primary rounded-circle"
                    >
                      <i
                        class="fa fa-bars ml-3 font-size-16"
                        style="cursor: pointer"
                        title="نمایش"
                      ></i>
                    </span>
                    3 روز پیش
                  </p>
                </div>
              </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
