<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-12">
        <div class="copyright text-center  text-lg-right  text-muted">
          &copy; 1401 <a href="/" class="font-weight-bold mr-1" target="_blank">وینو تیم</a>
        </div>
      </div>
      <!--<div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="https://stanesti.ir" class="nav-link" target="_blank">Stanesti</a>
          </li>
           <li class="nav-item">
            <a href="https://stanesti.ir/about-me" class="nav-link" target="_blank">درباره ما</a>
          </li>
          <li class="nav-item">
            <a href="https://stanesti.ir/blog" class="nav-link" target="_blank">وبلاگ</a>
          </li>
          <li class="nav-item">
            <a href="https://www.rtl-theme.com/author/stanesti" class="nav-link" target="_blank">محصولات دیگر</a>
          </li> -->
        </ul>
      </div>
    </div>
  </footer>