<div class="banner-part" >
    <div class="container">
      <div class="banner-div-content d-grid align-content-center">
        <div class="row  row-cols-1 row-cols-lg-2 align-items-center text-center text-lg-end justify-content-center flex-column-reverse flex-lg-row justify-content-lg-between">
            <div class="col" >
              <h1 class="mb-3 mt-3 mt-lg-0"> تیم توسعه دهندگان وینو  
              </h1>
              <p class="mb-3">  ارائه دهنده خدمات ، محصولات و مشاوره در حوزه فناوری و نرم افزار</p>

              <a href="/about" class="btn consult-bn"> درباره ما </a>
              <a href="/contact" class="btn consult-bn contact-bn"> تماس با ما </a>
            </div>
            <div class="col">
              <figure>
                <img src="images/pngwing.com (1).png" alt="banner-img" />
              </figure> 
            </div>
        </div>
      </div>
    </div>
</div> 