<div class="client-block">
    <div class="container">
      <h6 class="text-center " data-aos="fade-down"> مشتریان مورد اعتماد <%= clients  %> </h6>
      <h2 class="text-center" data-aos="fade-up"> مشتریان ما </h2>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5 mt-5 mt-lg-0 mb-5 g-lg-5 align-items-center justify-content-center">
         <div class="col " data-aos="fade-right">
           <div class="client-logo-cm">
             <img src="images/clogo6.png" alt="cl-logo1"/>
           </div>
         </div>
         <div class="col" data-aos="fade-down">
           <div class="client-logo-cm">
             <img src="images/clogo9.png" alt="cl-logo1"/>
           </div>
         </div>

         <div class="col" data-aos="fade-up">
           <div class="client-logo-cm">
             <img src="images/Client-Logo-20.png" alt="cl-logo1"/>
           </div>
         </div>

         <div class="col " data-aos="fade-left">
           <div class="client-logo-cm">
             <img src="images/metranet.png" alt="cl-logo1"/>
           </div>
         </div>

         <div class="col " data-aos="fade-down">
           <div class="client-logo-cm">
             <img src="images/awd-logo5.jpg" alt="cl-logo1"/>
           </div>
         </div>

         <div class="col" data-aos="fade-up">
           <div class="client-logo-cm">
             <img src="images/awd-logo.png" alt="cl-logo1"/>
           </div>
         </div>
         <div class="col" data-aos="fade-down">
           <div class="client-logo-cm">
             <img src="images/awd-logo2.jpg" alt="cl-logo1"/>
           </div>
         </div>
          
       </div>
    </div>
 </div>