<div class="call-contact" data-aos="fade-down">
    <div class="call-svg">
     
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,320L48,293.3C96,267,192,213,288,192C384,171,480,181,576,186.7C672,192,768,192,864,165.3C960,139,1056,85,1152,90.7C1248,96,1344,160,1392,192L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
    </div>
     <div class="container">
         <h6 class="text-center"> علاقه مند به همکاری  با هستید؟ </h6>
         <h2 class="text-center"> کسب و کار خود را به صورت دیجیتال توسعه و گسترش دهید </h2>
         <p class="text-center"> لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. 

         </p>
         
            <a href="#" class="btn get-bn d-table m-auto">دریافت مشاوره رایگان </a>
     
     </div>
     <div class="call-bn-svg d-none">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,256L48,245.3C96,235,192,213,288,208C384,203,480,213,576,186.7C672,160,768,96,864,106.7C960,117,1056,203,1152,250.7C1248,299,1344,309,1392,314.7L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
     </div>
  </div>