<section class="total-body mobile-comon-animation pt-3 d-block">
    <div class="service-block">
        <div class="container">
            <h6 class="text-center " data-aos="fade-up"> خدمات ما </h6>
            <h2 class="text-center " data-aos="fade-down"> لیست خدمات ما </h2>
            <div class="row row-cols-1 row-cols-sm-2 g-lg-5  mt-0 row-cols-lg-3">
                <div class="col" data-aos="fade-right">
                    <a class="comon-services text-center">
                        <figure>
                            <img src="images/it-icon.png" class="dissplay-show" alt="it" />
                            <img src="images/it-icon-hover.png" class="hover-show" alt="it" />
                        </figure>
                        <h5>راه کارها</h5>
                        <p> با راه کار های ما کسب و کار خود را ارتقا داده و بیشتر از قبل در حوزه خود موفق شوید.</p>

                    </a>
                </div>
                <div class="col " data-aos="fade-left">
                    <a class="comon-services text-center">
                        <figure>
                            <img src="images/web-icon.png" class="dissplay-show" alt="it" />
                            <img src="images/web-icon-hover.png" class="hover-show" alt="it" />
                        </figure>
                        <h5>توسعه وب و اپلیکیشن</h5>
                        <p> طراحی و توسعه وبسایت و اپلیکیشن با بهترین عملکرد و کیفیت در سبک های مختلف و کاربردی.</p>

                    </a>
                </div>
                <div class="col " data-aos="fade-down">
                    <a class="comon-services text-center">
                        <figure>
                            <img src="images/network.png" class="dissplay-show" alt="it" />
                            <img src="images/network-hover.png" class="hover-show" alt="it" />
                        </figure>
                        <h5>دیجیتال مارکتینگ و گرافیک</h5>
                        <p> مشاوره ، مدیریت و تولید محتوا برای امور تبلیغاتی در دنیای فناوری و تولید محصولات برندینگ از جمله لوگو ، پوستر و..</p>

                    </a>
                </div>
            </div>
        </div>
    </div>