<div class="trust-choose-block">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-2 mt-3 g-lg-5 align-items-center">
        <div class="col "  data-aos="fade-down">
          <figure class="mb-0">
             <img src="images/support-center1.png" alt="bn"/>
          </figure>
           
        </div>
          <div class="col "  data-aos="fade-up">
             <h6 class="mt-4 mt-lg-0"> چرا اعتماد به ما؟ </h6>
             <h2> استفاده از بهترین و جدیدترین متد ها در کسب و کار</h2>          
             <ul class="list-unstyled mt-4">
                <li> <i class="fas fa-long-arrow-alt-left"></i> تیم جوان و حرفه ای </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> طراحی حرفه ای </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> قیمت مناسب و به صرفه </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> ارائه بهتر و سریعتر خدمات به مشتری</li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> در دسترس بودن در هر زمان و هر مکان </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> طراحی بر اساس تجربه کاربری </li>
             </ul>
          </div>
          
       </div>
    </div>
  </div>