<div class="testimonal-sec">
    
    <div class="container">
       <h6 class="text-center " data-aos="fade-down">نظرات کاربران </h6>
       <h2 class="text-center " data-aos="fade-up">مورد اعتماد مشتریان </h2>
       
          <div class="silder-div-text mt-5 " data-aos="fade-down">
            <div class="w-100 overflow-hidden">
              <div class="best-sl-m owl-carousel owl-theme">
                <div class="item">
                  <div class="comon-div-ts">
                    <h5> " لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. "</h5>
                      <span>
                         <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                       </span>
                    </div>

                    <div  class="d-flex mt-4 align-items-center">
                    <figure>
                      <img src="images/testimonials-1-1.jpg" alt="pic"/>
                      
                    </figure>
                      <h4> جواد داوری , <span class="d-block"> - ایران </span>  </h4>
                    </div>

                </div>
                
                <div class="item">
                  <div class="comon-div-ts">
                    <h5> " لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. "</h5>
                    <span>
                      <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                    </span>
                    </div>
                    <div  class="d-flex mt-4 align-items-center">
                        <figure>
                          <img src="images/testimonials-1-1.jpg" alt="pic"/>
                          
                        </figure>
                      <h4> جواد داوری , <span class="d-block"> - ایران </span>  </h4>
                    </div>
                </div>
                
                <div class="item">
                  <div class="comon-div-ts">
                    <h5> " لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. "</h5>
                    <span>
                      <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                    </span>
                    </div>

                    <div class="d-flex mt-4 align-items-center">
                    <figure>
                      <img src="images/testimonials-1-1.jpg" alt="pic"/>
                      
                    </figure>
                    <h4> جواد داوری , <span class="d-block"> - ایران </span>  </h4>
                  </div>

                </div>

                <div class="item">
                  <div class="comon-div-ts">
                    <h5> " لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. "</h5>
                    <span>
                      <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                    </span>
                    </div>

                    <div  class="d-flex mt-4 align-items-center">
                    <figure>
                      <img src="images/testimonials-1-1.jpg" alt="pic"/>
                      
                    </figure>
                    <h4> جواد داوری , <span class="d-block"> - ایران </span>  </h4>
                  </div>

                </div>

                <div class="item">
                  <div class="comon-div-ts">
                    <h5> " لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. "</h5>
                    <span>
                      <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                    </span>
                    </div>
                    <div  class="d-flex mt-4 align-items-center">
                    <figure>
                      <img src="images/testimonials-1-1.jpg" alt="pic"/>
                      
                    </figure>
                    <h4> جواد داوری , <span class="d-block"> - ایران </span>  </h4>
                  </div>

                </div>
                
              </div>
            </div>
          </div>
         
    </div>
  </div>