<div class="why-choose-block">
    <div class="container">
       <div class="row row-cols-1 row-cols-lg-2 mt-5 g-lg-5 align-items-center flex-column-reverse flex-lg-row">
          <div class="col " data-aos="fade-right">
             <h6 class="mt-4 mt-lg-0"> چرا انتخاب ما؟ </h6>
             <h2> شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی </h2>         
             <ul class="list-unstyled mt-4">
                <li> <i class="fas fa-long-arrow-alt-left"></i> رویه های نظارتی پیشرفته </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> پشتیبانی برای خدمات پس از فروش </li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> رضایت مشتریان گذشته از نمونه کارها</li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> سرعت و کیفیت مناسب محصولات</li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> بروز ترین طرح ها و قالب ها</li>
                <li> <i class="fas fa-long-arrow-alt-left"></i> طراحی های مهندسی شده و بسته به نیاز روز جامعه</li>
             </ul>
          </div>
          <div class="col " data-aos="fade-right">
            <figure class="mb-0">
               <img src="images/featured-image-7.png" alt="bn"/>
            </figure>
             
          </div>
       </div>
    </div>
  </div>
